In [4]:
import random
from datetime import datetime, timedelta
from pathlib import Path
import pandas as pd
import names

In [15]:
__file__ = globals()['_dh'][0].as_posix()
pasta_datasets = Path(__file__).parent / 'dataset_meu'
pasta_datasets.mkdir(parents=True, exist_ok=True) #criando pasta

In [6]:
lojas = [
    {'estado': 'SP', 'cidade': 'São Paulo', 
    'vendedores': ['Ana Oliveira', 'Lucas Pereira']},
    {'estado': 'MG', 'cidade': 'Belo Horizonte', 
    'vendedores': ['Carlos Silva', 'Fernanda Costa']},
    {'estado': 'RJ', 'cidade': 'Rio de Janeiro', 
    'vendedores': ['Juliana Almeida', 'Pedro Souza']},
    {'estado': 'RS', 'cidade': 'Porto Alegre', 
    'vendedores': ['Mariana Gomes', 'Roberto Ferreira']},
    {'estado': 'SC', 'cidade': 'Florianópolis', 
    'vendedores': ['Gabriela Santos', 'Tiago Lima']}
]

In [7]:
produtos = [
    {'nome': 'Smartphone Samsung Galaxy', 'id':0, 'preco':2500 },
    {'nome': 'Notebook Dell Inspiron', 'id':1, 'preco':4500 },
    {'nome': 'Tablet Apple Ipad', 'id':2, 'preco':3000 },
    {'nome': 'Smartwatch Garmin', 'id':3, 'preco':1200 },
    {'nome': 'Fone de ouvido Sony', 'id':4, 'preco':600 },
]

In [8]:
forma_pagto = ['cartão de crédito', 'boleto', 'pix', 'dinheiro']
genero_clientes = ['male', 'female']

In [9]:
compras = []
for _ in range(2000):
    loja = random.choice(lojas)
    vendedor = random.choice(loja['vendedores'])
    produto = random.choice(produtos)
    hora_compra = datetime.now() - timedelta(
        days=random.randint(1,365),
        hours=random.randint(-5,5),
        minutes = random.randint(-30,30)
        )
    genero_clientes = random.choice(genero_clientes)
    nome_cliente = names.get_full_name(genero_clientes)
    forma_pagto = random.choice(forma_pagto)
    
    compras.append(
        {
            'data': hora_compra,
            'id_compra': 0,
            'loja': loja['cidade'],
            'vendedor': vendedor,
            'produto': produto['nome'],
            'cliente_nome': nome_cliente,
            'cliente_genero': genero_clientes.replace('female', 'feminino').replace('male', 'masculino'),
            'forma_pagamaneto': forma_pagto
        }
    )
    
df_compras = pd.DataFrame(compras).set_index('data').sort_index()
df_compras['id_compra'] = [i for i in range(len(df_compras))]

df_lojas = pd.DataFrame(lojas)
df_produtos = pd.DataFrame(produtos)

In [10]:
df_lojas

  estado          cidade                         vendedores
0     SP       São Paulo      [Ana Oliveira, Lucas Pereira]
1     MG  Belo Horizonte     [Carlos Silva, Fernanda Costa]
2     RJ  Rio de Janeiro     [Juliana Almeida, Pedro Souza]
3     RS    Porto Alegre  [Mariana Gomes, Roberto Ferreira]
4     SC   Florianópolis      [Gabriela Santos, Tiago Lima]

In [11]:
df_produtos

                        nome  id  preco
0  Smartphone Samsung Galaxy   0   2500
1     Notebook Dell Inspiron   1   4500
2          Tablet Apple Ipad   2   3000
3          Smartwatch Garmin   3   1200
4        Fone de ouvido Sony   4    600

In [12]:
df_compras.head()

,id_compra,loja,vendedor,produto,cliente_nome,cliente_genero,forma_pagamaneto
data,,,,,,,
2024-09-29 04:20:25.700413,0,Porto Alegre,Roberto Ferreira,Notebook Dell Inspiron,Martin Lamkin,l,p
2024-09-29 08:46:25.029216,1,São Paulo,Ana Oliveira,Smartphone Samsung Galaxy,Joe Sheets,l,p
2024-09-29 11:28:28.971841,2,São Paulo,Ana Oliveira,Tablet Apple Ipad,Paula Miller,l,p
2024-09-29 11:36:34.312800,3,São Paulo,Lucas Pereira,Smartwatch Garmin,Velma Howell,l,p
2024-09-30 08:58:31.200497,4,Florianópolis,Gabriela Santos,Fone de ouvido Sony,Chris Wise,l,p

In [ ]:
#Exportando Dataframes
df_compras.to_csv(pasta_datasets / 'compras.csv', decimal=',', sep=';')
df_lojas.to_csv(pasta_datasets / 'lojas.csv', decimal=',', sep=';')
df_produtos.to_csv(pasta_datasets / 'produtos.csv', decimal=',', sep=';')

In [14]:
df_compras.to_excel(pasta_datasets / 'compras.xlsx')
df_lojas.to_excel(pasta_datasets / 'lojas.xlsx')
df_produtos.to_excel(pasta_datasets / 'produtos.xlsx')

In [23]:
%pip install streamlit

Requirement already satisfied: streamlit in /home/leandro/anaconda3/lib/python3.13/site-packages (1.45.1)
Requirement already satisfied: altair<6,>=4.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (2.1.3)
Requirement already satisfied: packaging<25,>=20 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<7,>=3.20 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (19.0.0)
Requirement already satisfied: requests<3,>=2.27 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (4.0.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (3.1.43)
Requirement already satisfied: tornado<7,>=6.0.3 in /home/leandro/anaconda3/lib/python3.13/site-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in /home/leandro/anaconda3/lib/python3.13/site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /home/leandro/anaconda3/lib/python3.13/site-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: smmap<5,>=3.0.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/leandro/anaconda3/lib/python3.13/site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/leandro/anaconda3/lib/python3.13/site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/leandro/anaconda3/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/leandro/anaconda3/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/leandro/anaconda3/lib/python3.13/site-packages (from requests<3,>=2.27->streamlit) (2025.4.26)
Requirement already satisfied: attrs>=22.2.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/leandro/anaconda3/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /home/leandro/anaconda3/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /home/leandro/anaconda3/lib/python3.13/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: six>=1.5 in /home/leandro/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/leandro/anaconda3/lib/python3.13/site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import streamlit as st

In [26]:
caminho_compras = 'datasets/compras.csv'
df_compras1 = pd.read_csv(caminho_compras, sep=';', decimal=',')

In [27]:
st.dataframe(df_compras1)

2025-09-29 10:53:49.560 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 10:53:49.563 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [21]:
caminho_arquivo = 'datasets/compras.csv'
df_compras2 = pd.read_csv(caminho_arquivo,sep=';', decimal=',', index_col=0)
df_compras2.head()

,id_compra,loja,vendedor,produto,cliente_nome,cliente_genero,forma_pagamento
data,,,,,,,
2023-12-19 19:29:20.923259,0,Florianópolis,Tiago Lima,Smartphone Samsung Galaxy,Kimberly Molina,feminino,dinheiro
2023-12-19 20:54:22.408124,1,São Paulo,Lucas Pereira,Smartwatch Garmin,Rebecca Fitzgerald,feminino,cartão de crédito
2023-12-19 21:41:26.807241,2,Porto Alegre,Mariana Gomes,Notebook Dell Inspiron,Hal Green,masculino,boleto
2023-12-19 22:28:32.305525,3,Porto Alegre,Mariana Gomes,Fone de Ouvido Sony,Jason Edwardson,masculino,dinheiro
2023-12-19 23:14:29.902292,4,São Paulo,Ana Oliveira,Notebook Dell Inspiron,Angie Ford,feminino,boleto

In [28]:
colunas = list(df_compras2.columns)
st.multiselect('Selecione as colunas:', colunas)

2025-09-29 10:53:56.144 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 10:53:56.146 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 10:53:56.148 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 10:53:56.149 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 10:53:56.151 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

[]