In [27]:
import random
from datetime import datetime, timedelta
from pathlib import Path
import pandas as pd
import names

In [26]:
%pip install Path

Collecting Path
  Downloading path-17.1.1-py3-none-any.whl.metadata (6.5 kB)
Downloading path-17.1.1-py3-none-any.whl (23 kB)
Installing collected packages: Path
Successfully installed Path-17.1.1
Note: you may need to restart the kernel to use updated packages.

In [28]:
pasta_datasets = Path(__file__).parent / 'dataset'
pasta_datasets.mkdir(parents=True, exist_ok=True) #criando pasta

NameError: name '__file__' is not defined

In [10]:
lojas = [
    {'estado': 'SP', 'cidade': 'São Paulo', 
    'vendedores': ['Ana Oliveira', 'Lucas Pereira']},
    {'estado': 'MG', 'cidade': 'Belo Horizonte', 
    'vendedores': ['Carlos Silva', 'Fernanda Costa']},
    {'estado': 'RJ', 'cidade': 'Rio de Janeiro', 
    'vendedores': ['Juliana Almeida', 'Pedro Souza']},
    {'estado': 'RS', 'cidade': 'Porto Alegre', 
    'vendedores': ['Mariana Gomes', 'Roberto Ferreira']},
    {'estado': 'SC', 'cidade': 'Florianópolis', 
    'vendedores': ['Gabriela Santos', 'Tiago Lima']}
]

In [11]:
produtos = [
    {'nome': 'Smartphone Samsung Galaxy', 'id':0, 'preco':2500 },
    {'nome': 'Notebook Dell Inspiron', 'id':1, 'preco':4500 },
    {'nome': 'Tablet Apple Ipad', 'id':2, 'preco':3000 },
    {'nome': 'Smartwatch Garmin', 'id':3, 'preco':1200 },
    {'nome': 'Fone de ouvido Sony', 'id':4, 'preco':600 },
]

In [12]:
forma_pagto = ['cartão de crédito', 'boleto', 'pix', 'dinheiro']
genero_clientes = ['male', 'female']

In [14]:
compras = []
for _ in range(2000):
    loja = random.choice(lojas)
    vendedor = random.choice(loja['vendedores'])
    produto = random.choice(produtos)
    hora_compra = datetime.now() - timedelta(
        days=random.randint(1,365),
        hours=random.randint(-5,5),
        minutes = random.randint(-30,30)
        )
    genero_clientes = random.choice(genero_clientes)
    nome_cliente = names.get_full_name(genero_clientes)
    forma_pagto = random.choice(forma_pagto)
    
    compras.append(
        {
            'data': hora_compra,
            'id_compra': 0,
            'loja': loja['cidade'],
            'vendedor': vendedor,
            'produto': produto['nome'],
            'cliente_nome': nome_cliente,
            'cliente_genero': genero_clientes.replace('female', 'feminino').replace('male', 'masculino'),
            'forma_pagamaneto': forma_pagto
        }
    )
    
df_compras = pd.DataFrame(compras).set_index('data').sort_index()
df_compras['id_compra'] = [i for i in range(len(df_compras))]

df_lojas = pd.DataFrame(lojas)
df_produtos = pd.DataFrame(produtos)

In [15]:
df_lojas

  estado          cidade                         vendedores
0     SP       São Paulo      [Ana Oliveira, Lucas Pereira]
1     MG  Belo Horizonte     [Carlos Silva, Fernanda Costa]
2     RJ  Rio de Janeiro     [Juliana Almeida, Pedro Souza]
3     RS    Porto Alegre  [Mariana Gomes, Roberto Ferreira]
4     SC   Florianópolis      [Gabriela Santos, Tiago Lima]

In [16]:
df_produtos

                        nome  id  preco
0  Smartphone Samsung Galaxy   0   2500
1     Notebook Dell Inspiron   1   4500
2          Tablet Apple Ipad   2   3000
3          Smartwatch Garmin   3   1200
4        Fone de ouvido Sony   4    600

In [18]:
df_compras.head()

,id_compra,loja,vendedor,produto,cliente_nome,cliente_genero,forma_pagamaneto
data,,,,,,,
2024-09-26 11:54:14.832231,0,Florianópolis,Tiago Lima,Smartphone Samsung Galaxy,John Strassel,e,l
2024-09-26 13:55:13.903941,1,São Paulo,Lucas Pereira,Notebook Dell Inspiron,Robert Sellner,e,l
2024-09-26 13:59:09.749951,2,Florianópolis,Tiago Lima,Notebook Dell Inspiron,John Knotts,e,l
2024-09-26 14:06:13.540838,3,Porto Alegre,Mariana Gomes,Fone de ouvido Sony,Tami Collier,e,l
2024-09-26 16:24:16.758059,4,São Paulo,Ana Oliveira,Tablet Apple Ipad,Fidelia Morris,e,l

In [19]:
#Exportando Dataframes
df_compras.to_csv(pasta_datasets / 'compras.csv', decimal=',', sep=';')
df_lojas.to_csv(pasta_datasets / 'lojas.csv', decimal=',', sep=';')
df_produtos.to_csv(pasta_datasets / 'produtos.csv', decimal=',', sep=';')

NameError: name 'pasta_datasets' is not defined

In [ ]:
df_compras.to_excel(pasta_datasets / 'compras.xlsx')
df_lojas.to_excel(pasta_datasets / 'lojas.xlsx')
df_produtos.to_excel(pasta_datasets / 'produtos.xlsx')