In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_json('dados_hospedagem.json')

In [46]:
df.head()

                                         info_moveis
0  {'avaliacao_geral': '10.0', 'experiencia_local...
1  {'avaliacao_geral': '10.0', 'experiencia_local...
2  {'avaliacao_geral': '10.0', 'experiencia_local...
3  {'avaliacao_geral': '10.0', 'experiencia_local...
4  {'avaliacao_geral': '10.0', 'experiencia_local...

In [47]:
df = pd.json_normalize(df['info_moveis'])

In [48]:
df.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,[This clean and comfortable one bedroom sits r...,[Lower Queen Anne is near the Seattle Center (...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[Real Bed, Futon, Futon, Pull-out Sofa, Real B...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$0, $0, $0, $0, $0, $350.00, $350.00, $350.00...","[$0, $0, $0, $20.00, $15.00, $28.00, $35.00, $...","[$110.00, $45.00, $55.00, $52.00, $85.00, $50...."
1,10.0,--,10,[Welcome to the heart of the 'Ballard Brewery ...,"[--, Capital Hill is the heart of Seattle, bor...","[2, 3, 2, 3, 3, 3, 2, 1, 2, 2, 2]","[3, 4, 2, 3, 3, 3, 3, 3, 3, 4, 3]","[5, 6, 8, 3, 3, 5, 4, 5, 6, 7, 4]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$500.00, $300.00, $0, $300.00, $300.00, $360....","[$125.00, $100.00, $85.00, $110.00, $110.00, $...","[$350.00, $300.00, $425.00, $300.00, $285.00, ..."
2,10.0,--,11,[New modern house built in 2013. Spectacular ...,[Upper Queen Anne is a charming neighborhood f...,[4],[5],[7],[Real Bed],"[{TV,""Cable TV"",Internet,""Wireless Internet"",""...","[$1,000.00]",[$300.00],[$975.00]
3,10.0,--,12,[Our NW style home is 3200+ sq ft with 3 level...,[The Views from our top floor! Wallingford ha...,"[3, 3, 3, 3, 3, 3, 3, 3]","[6, 6, 5, 5, 5, 5, 4, 4]","[6, 6, 7, 8, 7, 7, 6, 6]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{Internet,""Wireless Internet"",Kitchen,""Free P...","[$500.00, $500.00, $500.00, $500.00, $500.00, ...","[$225.00, $300.00, $250.00, $250.00, $250.00, ...","[$490.00, $550.00, $350.00, $350.00, $350.00, ..."
4,10.0,--,14,"[Perfect for groups. 2 bedrooms, full bathroom...",[Safeway grocery store within walking distance...,"[2, 3]","[2, 6]","[3, 9]","[Real Bed, Real Bed]","[{TV,Internet,""Wireless Internet"",Kitchen,""Fre...","[$300.00, $2,000.00]","[$40.00, $150.00]","[$200.00, $545.00]"

In [49]:
columns = list(df.columns)
columns

['avaliacao_geral',
 'experiencia_local',
 'max_hospedes',
 'descricao_local',
 'descricao_vizinhanca',
 'quantidade_banheiros',
 'quantidade_quartos',
 'quantidade_camas',
 'modelo_cama',
 'comodidades',
 'taxa_deposito',
 'taxa_limpeza',
 'preco']

In [50]:
df = df.explode(columns[3:])
df.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
0,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
0,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
0,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
0,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [51]:
df.reset_index(inplace=True, drop=True)

In [52]:
df.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,This clean and comfortable one bedroom sits ri...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$0,$110.00
1,10.0,--,1,Our century old Upper Queen Anne house is loca...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$45.00
2,10.0,--,1,Cozy room in two-bedroom apartment along the l...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$0,$0,$55.00
3,10.0,--,1,Very lovely and cozy room for one. Convenientl...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",$0,$20.00,$52.00
4,10.0,--,1,The “Studio at Mibbett Hollow' is in a Beautif...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",$0,$15.00,$85.00

In [53]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes            object
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros    object
quantidade_quartos      object
quantidade_camas        object
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

Conversão dados numéricos

In [54]:
df['max_hospedes'] = df['max_hospedes'].astype(np.int64)

In [55]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes             int64
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros    object
quantidade_quartos      object
quantidade_camas        object
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

In [56]:
columns_numerics = ['quantidade_banheiros', 'quantidade_quartos', 'quantidade_camas']

In [57]:
df[columns_numerics] = df[columns_numerics].astype(np.int64)

In [58]:
df.dtypes

avaliacao_geral         object
experiencia_local       object
max_hospedes             int64
descricao_local         object
descricao_vizinhanca    object
quantidade_banheiros     int64
quantidade_quartos       int64
quantidade_camas         int64
modelo_cama             object
comodidades             object
taxa_deposito           object
taxa_limpeza            object
preco                   object
dtype: object

In [59]:
df['avaliacao_geral']

0       10.0
1       10.0
2       10.0
3       10.0
4       10.0
        ...
3813     nan
3814     nan
3815     nan
3816     nan
3817     nan
Name: avaliacao_geral, Length: 3818, dtype: object

In [60]:
df['avaliacao_geral'] = df['avaliacao_geral'].astype(np.float64)

In [61]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito            object
taxa_limpeza             object
preco                    object
dtype: object

In [62]:
df['preco']

0       $110.00
1        $45.00
2        $55.00
3        $52.00
4        $85.00
         ...
3813    $299.00
3814    $199.00
3815    $400.00
3816    $250.00
3817    $350.00
Name: preco, Length: 3818, dtype: object

In [63]:
df['preco'] = df['preco'].apply(lambda x: x.replace('$', '').replace(',', '').strip())

In [64]:
df['preco']

0       110.00
1        45.00
2        55.00
3        52.00
4        85.00
         ...
3813    299.00
3814    199.00
3815    400.00
3816    250.00
3817    350.00
Name: preco, Length: 3818, dtype: object

In [65]:
df['preco'] = df['preco'].astype(np.float64)

In [66]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito            object
taxa_limpeza             object
preco                   float64
dtype: object

In [67]:
df[['taxa_deposito', 'taxa_limpeza']]

     taxa_deposito taxa_limpeza
0               $0           $0
1               $0           $0
2               $0           $0
3               $0       $20.00
4               $0       $15.00
...            ...          ...
3813     $1,000.00      $178.00
3814            $0       $99.00
3815            $0           $0
3816     $1,000.00      $150.00
3817       $500.00           $0

[3818 rows x 2 columns]

In [68]:
df[['taxa_deposito', 'taxa_limpeza']] = df[['taxa_deposito', 'taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',', '').strip())

/tmp/ipykernel_12668/3497966386.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['taxa_deposito', 'taxa_limpeza']] = df[['taxa_deposito', 'taxa_limpeza']].applymap(lambda x: x.replace('$', '').replace(',', '').strip())

In [69]:
df[['taxa_deposito', 'taxa_limpeza']] = df[['taxa_deposito', 'taxa_limpeza']].astype(np.float64)

In [70]:
df.dtypes

avaliacao_geral         float64
experiencia_local        object
max_hospedes              int64
descricao_local          object
descricao_vizinhanca     object
quantidade_banheiros      int64
quantidade_quartos        int64
quantidade_camas          int64
modelo_cama              object
comodidades              object
taxa_deposito           float64
taxa_limpeza            float64
preco                   float64
dtype: object

Conversão dados textuais

In [71]:
df['descricao_local']

0       This clean and comfortable one bedroom sits ri...
1       Our century old Upper Queen Anne house is loca...
2       Cozy room in two-bedroom apartment along the l...
3       Very lovely and cozy room for one. Convenientl...
4       The “Studio at Mibbett Hollow' is in a Beautif...
                              ...
3813    Beautiful craftsman home in the historic Wedgw...
3814    Located in a very easily accessible area of Se...
3815    This home is fully furnished and available wee...
3816    This business-themed modern home features:  *H...
3817    This welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [72]:
df['descricao_local'] = df['descricao_local'].str.lower()
df['descricao_local']

0       this clean and comfortable one bedroom sits ri...
1       our century old upper queen anne house is loca...
2       cozy room in two-bedroom apartment along the l...
3       very lovely and cozy room for one. convenientl...
4       the “studio at mibbett hollow' is in a beautif...
                              ...
3813    beautiful craftsman home in the historic wedgw...
3814    located in a very easily accessible area of se...
3815    this home is fully furnished and available wee...
3816    this business-themed modern home features:  *h...
3817    this welcoming home is in the quiet residentia...
Name: descricao_local, Length: 3818, dtype: object

In [73]:
df['descricao_local'][3000]

"enjoy your stay in seattle by staying on lake union right by gas works park and  just 15 minutes walk from the fremont area. fabulous views of the space needle, 4th july fireworks, lake union & seattle. 3 double staterooms and 3 baths. sleeps 6. the silhouette is a 63ft power yacht. kitchen with dishwasher, microwave and fridge/freezer. large main salon with flat screen digital cable tv, stereo and dining area seating 6. the stairs to upper fly bridge are in the main salon.  master king size stateroom is to the rear of the boat with en-suite with sink, shower/ bath tub combo. the additional staterooms all have  their own shower, sink & toilet.  the upper, covered fly bridge has great views of the seattle skyline and dining/seating for 10 people. it's  the perfect spot to take in the sights and sounds of seattle and lake activity, sea planes, boats, paddle boarders, kayakers and more while sipping a glass of wine or having your morning coffee.  evening views are lovely as well. walk aro"

In [74]:
df['descricao_local'] = df['descricao_local'].str.replace('[^a-zA-Z0-9\-\*]', ' ', regex=True)

In [75]:
df['descricao_local'][3000]

'enjoy your stay in seattle by staying on lake union right by gas works park and  just 15 minutes walk from the fremont area  fabulous views of the space needle  4th july fireworks  lake union   seattle  3 double staterooms and 3 baths  sleeps 6  the silhouette is a 63ft power yacht  kitchen with dishwasher  microwave and fridge freezer  large main salon with flat screen digital cable tv  stereo and dining area seating 6  the stairs to upper fly bridge are in the main salon   master king size stateroom is to the rear of the boat with en-suite with sink  shower  bath tub combo  the additional staterooms all have  their own shower  sink   toilet   the upper  covered fly bridge has great views of the seattle skyline and dining seating for 10 people  it s  the perfect spot to take in the sights and sounds of seattle and lake activity  sea planes  boats  paddle boarders  kayakers and more while sipping a glass of wine or having your morning coffee   evening views are lovely as well  walk aro'

In [76]:
df['descricao_local'] = df['descricao_local'].str.replace('(?<!\w)', ' ',regex=True)

In [77]:
df.head()

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,this clean and comfortable one bedroom ...,Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,our century old upper queen anne house ...,"Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,cozy room in two- bedroom apartment alon...,The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,very lovely and cozy room for one co...,"Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,the studio at mibbett hollow is in ...,--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0

In [78]:
df['descricao_local'] = df['descricao_local'].str.split()
df

,avaliacao_geral,experiencia_local,max_hospedes,descricao_local,descricao_vizinhanca,quantidade_banheiros,quantidade_quartos,quantidade_camas,modelo_cama,comodidades,taxa_deposito,taxa_limpeza,preco
0,10.0,--,1,"[this, clean, and, comfortable, one, bedroom, ...",Lower Queen Anne is near the Seattle Center (s...,1,1,1,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,0.0,110.0
1,10.0,--,1,"[our, century, old, upper, queen, anne, house,...","Upper Queen Anne is a really pleasant, unique ...",1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,45.0
2,10.0,--,1,"[cozy, room, in, two-, bedroom, apartment, alo...",The convenience of being in Seattle but on the...,1,1,1,Futon,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",0.0,0.0,55.0
3,10.0,--,1,"[very, lovely, and, cozy, room, for, one, conv...","Ballard is lovely, vibrant and one of the most...",1,1,1,Pull-out Sofa,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",0.0,20.0,52.0
4,10.0,--,1,"[the, studio, at, mibbett, hollow, is, in, a, ...",--,1,1,1,Real Bed,"{""Wireless Internet"",Kitchen,""Free Parking on ...",0.0,15.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,NaN,--,8,"[beautiful, craftsman, home, in, the, historic...",--,3,4,5,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1000.0,178.0,299.0
3814,NaN,--,8,"[located, in, a, very, easily, accessible, are...","Quiet, dead end street near I-5. The proximity...",2,4,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",0.0,99.0,199.0
3815,NaN,--,8,"[this, home, is, fully, furnished, and, availa...",--,1,3,4,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",0.0,0.0,400.0
3816,NaN,--,9,"[this, business-, themed, modern, home, featur...",Your hosts made Madison Valley their home when...,2,3,6,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",1000.0,150.0,250.0
3817,NaN,--,9,"[this, welcoming, home, is, in, the, quiet, re...","Despite the quiet, leafy streets of this resid...",1,4,6,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",500.0,0.0,350.0

In [79]:
df['comodidades']

0       {Internet,"Wireless Internet",Kitchen,"Free Pa...
1       {TV,Internet,"Wireless Internet",Kitchen,"Free...
2       {TV,Internet,"Wireless Internet",Kitchen,"Free...
3       {Internet,"Wireless Internet",Kitchen,"Free Pa...
4       {"Wireless Internet",Kitchen,"Free Parking on ...
                              ...
3813    {TV,"Cable TV",Internet,"Wireless Internet","A...
3814    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
3815    {TV,"Cable TV",Internet,"Wireless Internet","A...
3816    {TV,"Cable TV",Internet,"Wireless Internet","A...
3817    {TV,Internet,"Wireless Internet",Kitchen,"Free...
Name: comodidades, Length: 3818, dtype: object

In [81]:
df['comodidades'] = df['comodidades'].str.replace('\{|}|\´', '', regex=True)

In [83]:
df['comodidades']

0       Internet,"Wireless Internet",Kitchen,"Free Par...
1       TV,Internet,"Wireless Internet",Kitchen,"Free ...
2       TV,Internet,"Wireless Internet",Kitchen,"Free ...
3       Internet,"Wireless Internet",Kitchen,"Free Par...
4       "Wireless Internet",Kitchen,"Free Parking on P...
                              ...
3813    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3814    TV,"Cable TV",Internet,"Wireless Internet",Kit...
3815    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3816    TV,"Cable TV",Internet,"Wireless Internet","Ai...
3817    TV,Internet,"Wireless Internet",Kitchen,"Free ...
Name: comodidades, Length: 3818, dtype: object

In [84]:
df['comodidades'] = df['comodidades'].str.split(',')

In [85]:
df['comodidades']

0       [Internet, "Wireless Internet", Kitchen, "Free...
1       [TV, Internet, "Wireless Internet", Kitchen, "...
2       [TV, Internet, "Wireless Internet", Kitchen, "...
3       [Internet, "Wireless Internet", Kitchen, "Free...
4       ["Wireless Internet", Kitchen, "Free Parking o...
                              ...
3813    [TV, "Cable TV", Internet, "Wireless Internet"...
3814    [TV, "Cable TV", Internet, "Wireless Internet"...
3815    [TV, "Cable TV", Internet, "Wireless Internet"...
3816    [TV, "Cable TV", Internet, "Wireless Internet"...
3817    [TV, Internet, "Wireless Internet", Kitchen, "...
Name: comodidades, Length: 3818, dtype: object